{% load staticfiles %}
<!doctype html>
<html>
<head>
    <title>
        {% block title %}{% endblock %}
    </title>
    
        {% block header %}{% endblock %}
       <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
       <link href='https://fonts.googleapis.com/css?family=IM+Fell+DW+Pica:400,400italic' rel='stylesheet' type='text/css'>
       <link rel="stylesheet" href="{% static 'css/style.css' %}" />
</head>

<body>
    <div class="row">
<p></p>
<p></p>
                <form class="form-inline" action="" method="GET">
                    <button type="submit" class="form-control btn btn-success">Crunch crunch</button>
                    <input type="text" class="form-control" placeholder="Search for..." name="query">
                </form>
                
    </div>
        {% block content %}{% endblock %}
        {% block footer %}{% endblock %} 
</body>
</html>


<!--Future to-do: create a header block and put the title in the header block, and then put it above the search bar-->
<!--use mdn instead of w3s-->
