{% extends 'layouts/base.html' %}

{% block title %}Brassica {{ block.super }}{% endblock %}

{% block content %}
    <h1>Brassica: the new crucifer on the block</h1>
    <h4>Enter a search term for results from Twitter and Wikipedia!</h4>
    <div class="col-xs-6">
    {% for tweet in twitter %}
    <a href="http://twitter.com/{{ tweet.user.name }}/status/{{ tweet.id }}">
    <p> {{ tweet.user.name }} tweeted:
        {{ tweet.text }} </p>
    </a>
    {% endfor %} 
    </div>
    <div class="col-xs-6">
    {% for title in wikipedia %}
    <a href="http://wikipedia.org/wiki/{{ title }}">
    <p>{{ title }}</p>
    </a>
    {% endfor %}
    </div>

{% endblock %}


<!--when writing loops in .html files, use {% so that when Django renders the template, it knows what's HTML and what's Python-->
<!--use double curlies to display content-->
