{% load staticfiles %}
<!doctype html>
<html>
<head>
    <title>
        {% block title %}Tasty Brassica{% endblock %}
    </title>
       <link rel="stylesheet" href="{% static 'css/style.css' %}" />
        {% block header %}{% endblock %}
</head>
<body>
    <div class="row">
        <div class="col-lg-6">
            <div class="input-group">
                <form action="" method="GET">
                    <input type="submit" class="form-control" value="Crunch crunch">
                    <input type="text" class="form-control" placeholder="Search for..." name="query">
                </form>
            </div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->
    </div>
    {% block content %}{% endblock %}
    {% block footer %}{% endblock %}
</body>
</html>


<!--create a header block and put the title in the header block, and then put it above the search bar-->
<!--use mdn instead of w3s-->
